body{
    margin: 0;
    padding: 0;
}

header h1{
    text-align: center;
}

.calculator{
    border: 3px solid black;
    display: flex;
    width: 300px;
    margin: auto;
}

.buttons{
    width: 200px;
}

.button{
    padding: 14px;
    color: white;
    font-size: 24px;
    background-color: black;
    border: none;
    border-radius: 4px;
    margin: auto;
    width: 36px;
}


.delete-button{
    padding: 10px;
    color: white;
    font-size: 22px;
    background-color: black;
    border: none;
    border-radius: 4px;
    margin: 2px;
    width: 72px;
}